.content {
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color:transparent;
    color: var(--white);
    min-height: 100vh;
    width: 100%;
}

.content h1 {
    font-size: 50px;
    text-align: center;
}

.content p {
    font-size: 14px;
    line-height: 30px;
    max-width: 800px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.content h2 {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.content h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.content a {
    text-decoration: none;
    color: var(--black);
}

.content a:hover {
    text-decoration: line-through;
    color: var(--gray);
}

.content .icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.content .icon {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid white 3px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.content .icon img {
    height: 100%;
}

.content .icon h1, .content .icon h2 {
    opacity: 0%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.content .icon h1 {
    top: 35%;
}

.content .icon h2 {
    bottom: 25%;
}

.content .icon:hover img{
    opacity: 0%;
} 

.content .icon:hover h1, .content .icon:hover h2{
    opacity: 100%;
} 

.leadership.content .icon {
    width: 400px;
    height: 400px;
}
.leadership.content .icon h1, .leadership.content .icon h2{
    font-size: 35px;
}

.ux.content .icon {
    width: 200px;
    height: 200px;
}
.ux.content .icon h1, .ux.content .icon h2{
    font-size: 20px;
}

.software.content .icon {
    width: 200px;
    height: 200px;
}
.software.content .icon h1, .software.content .icon h2{
    font-size: 20px;
}








@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 50%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}
