.landing {
    color: var(--white);
    text-align: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    user-select: none;
}

.landing h1 {
    font-size: 9vw;
    position: relative;
    top: 40vh;
}

.landing ul { 
    position: relative;
    top: 45vh;
    display: flex;
    width: 70%;
    font-size: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.landing ul li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.landing ul li:hover {
    text-decoration: line-through;
}

.arrow::before{
    content: '╲╱';
    color: #fff;
    position: absolute;
    text-align: center;
    animation: bounce 1s ease infinite;
    top: 95vh
  }
  @keyframes bounce {
    50% {
      transform: translateY(-25%);
    }
    100% {
      transform: translateY(0);
    }
  }


.about {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    min-height: 100vh;
}

.about .profpic {
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid white 3px;
    border-radius: 100%;
}